/* Mid Screen ----------- */
@media only screen 
and (max-width: 48em) {

/* 
nav {
  top: -40px;
}


.is-desktop {
  display: none !important;
}

.is-mobile {
  display: block !important;
  position: relative;
}

#mobile-menu .main-links li,
#profile-mobile-menu .main-links li {
  list-style: none;
  padding: 10px;

}

#mobile-menu .main-links a {
  text-decoration: none;
  color: #7A7A7B !important;
}

#profile-mobile-menu .main-links a {
  text-decoration: none;
  color: #7A7A7B !important;
}

#mobile-menu .main-links a:hover{
  color: #fff !important;
  text-decoration: none;
  
}

#mobile-menu .main-links li a:visited {
  color: #fff;
  text-decoration: none;
}


.nav-toggle,
.nav-toggle2 {
  position: relative;
  color: #fff;
  margin-left: 94% !important;
  margin-top: 7% !important;
}


#mobile-menu {
  position: relative;
  margin-top: -15%;
  left: 80% !important;
  width: 150px;
  height: 90px;
  text-align: center;
  transform: translateY(-450%);
  transition: transform 0.6s ease;
  z-index: -1;
  
}

#profile-mobile-menu {

  position: relative;
  margin-top: -15%;
  left: 80% !important;
  width: 150px;
  height: 90px;
  text-align: center;
  transform: translateY(-450%);
  transition: transform 0.6s ease;
  z-index: -1;

}

#mobile-menu.open,
#profile-mobile-menu.open {
  transform: translateY(100%);
}



.main-links {
  background-color: #0a0a0a;


  
}

.main-links a {
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -ms-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  transition: color 0.5s linear;
  font-weight: bold;
  text-decoration: none;
}

.main-links a:hover{
  color: #0498CF;
}




.logo {
  position: relative;
  top: 30px;
  left: -10%;
}


.rich-content header {
  position: relative;
  top: 50px;
}

.owl-title {
  position: relative;
  top: 120px !important;
  font-size: 2.5em !important;
}

#owl-demo1 .owl-controls {
  top: 400px;
}


.carousel {
  height: 500px;
}

.row {
  left: 0 !important;
}

.service-popup p,
.service-popup h1,
.service-popup h3,
.service-popup li {
  text-align: center !important;
}

#evaluation .ghost-btn {
  left: 20% !important;
}


.product-info {
  text-align: center !important;
}

.product-info .text-left {
  text-align: center !important;
}

 */


}




/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {

  
.is-desktop {
    display: none !important;
  }


  .is-mobile  {
    display: block !important;
  }

  .icon-menu {
    display: none !important;
  }


  #mobile-menu .main-links li,
  #profile-mobile-menu .main-links li {
    list-style: none;
    padding: 10px;

  }

  #mobile-menu .main-links a {
    text-decoration: none;
    color: #7A7A7B !important;
    font-size: 1em !important;
  }

  #profile-mobile-menu .main-links a {
    text-decoration: none;
    color: #7A7A7B !important;
  }

  #mobile-menu .main-links a:hover{
    color: #fff !important;
    text-decoration: none;
  
  }

  #mobile-menu .main-links li a:visited {
    color: #fff;
    text-decoration: none;
  }
  

  

#mobile-menu.open,
#profile-mobile-menu.open {
  transform: translateY(100%);
}


.main-links {
  background-color: #0a0a0a;


  
}

.main-links a {
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -ms-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  transition: color 0.5s linear;
  font-weight: bold;
  text-decoration: none;
}

.main-links a:hover{
  color: #0498CF;
}



#mobile-carousel {
  display: block !important;
}

#owl-demo1 {
  display: none !important;
}


.services-section .grid figure{
    height: 100px !important;
    width: 100px !important;
    border-radius: 0;
}

.services-section .grid figure:hover{
    height: 100px !important;
    width: 50px !important;
    border-radius: 0;
}



.services-section figcaption {
  height: 200px !important;
  width: 200px !important;
}



.services-section figure.effect-bubba img {
    height: 100px !important;
    width: 100px !important;
    border-radius: 0;
}

.services-section .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    min-width: 100px !important;
    max-width: 300px !important;
    max-height: 100px;
    width: 100px;
    height: auto;
    text-align: center;
    cursor: pointer;
    padding: 0;
   

}

.services-section .item:hover figure.effect-bubba h2 {
    font-size: 1em !important;
    position: relative;
    top: -40px !important;
    left: -30% !important;
}

figcaption::after,
figcaption::before {
   
    border: none !important;
}




}

/* Smartphones (landscape) ----------- */
@media only screen 
and (max-width : 568px) {
  
  nav {
    height: 50px !important;
  }

  nav.main-transparent.is-mobile {
  display: none !important;
}




.logo {
  top: -20px !important;
  left: -10% !important;
}

.logo img {
  height: 50px !important;
  width: 200px !important;
}


.nav-toggle {
  position: relative;
  top: -13px !important;
  left: 98% !important;
  font-size: 1.5em !important;

}


#mobile-menu {
  position: relative;
  top: -125px !important;
  left: 90% !important;
  width: 90px;
  height: 90px;
  text-align: center;
  transform: translateY(-450%);
  transition: transform 0.6s ease;
  z-index: -99;
  
}

#mobile-menu .main-links  {
  z-index: -1 !important;
}



#owl1-img2 {
  width: 100vw !important;
}


.owl-title {
  position: relative;
  top: 100px !important;
  margin-left: 0 !important;
  font-size: 2.5em !important;
}

.owl-controls {
  position: relative;
  top: 400px !important;
  left: 0 !important;
}

.main-content {
  height: 250px !important;
}

.title {
  font-size: 1.2em !important;
}

.about-wrapper {
  width: 350px !important;
}

#about {
  top: 300px !important;
  height: 300px !important;
  margin-left: -20% !important;

}

#about p {
  font-size: 1em !important;
}

.services-wrapper {
  width: 700px !important;
  height: 500px !important;
  position: relative;
  top: 200px !important;
  left: 0 !important;
}

#services .title {
  position: relative;
  left: -10% !important;
}

#services {
  position: relative;
  height: 300px !important;
  margin-left: 5% !important;
  width: 80% !important;
}

.service-popup img {
  height: 100px !important;
  width: 100px !important;
  margin-left: 60% !important;

}

.service-popup p,
.service-popup h1,
.service-popup h2,
.service-popup h3,
.service-popup li {
  font-size: 1em !important;
  text-align: center !important;
}

.mfp-close {
  position: relative;
  left: 60% !important;
}

#evaluation-info h3.text-left {
  position: relative;
  left: 3% !important;
}

#evaluation  a, {
  font-size: 0.6em !important;
}

#events a {
  font-size: 0.5em !important;
}

#coach {
  position: relative;
  top: -20px !important;
}

#coach img {
  position: relative;
  left: -20% !important;
}

#coach-info {
  position: relative;
  top: 110px !important;
  left: -10% !important;
  width: 100% !important;
}

#coach .mfp-close {
  position: relative;
  left: 50% !important;
  top: -400px !important;
}

#coach-iframe {
  position: relative;
  height: 100px !important;
  width: 200px !important;
  left: 10% !important;
}

#coach .ghost-btn {
  position: relative;
  left: 25% !important;
}

.products-wrapper {
  width: 500px !important;
}

#products {
  position: relative;
  top: 300px !important;
  left: 15% !important;
}



#owl-demo2 img {
  height: 100px !important;
  width: 100px !important;
  position: relative;
  margin-left: 100% !important;
}


#owl-demo2 h1 {
  font-size: 1.5em !important;
  text-align: center !important;
  
}

#owl-demo2 h4 {
  font-size: 1.3em !important;
  text-align: center !important;
}

#owl-demo2 p,
#owl-demo2 li {
  font-size: 0.7em !important;
  text-align: center !important;
}

#owl-demo2 .owl-controls {
  position: relative;
  top: 10px !important;
  left: 0 !important;
}

.team-wrapper {
  height: 1500px !important;
}

#team {
  position: relative;
  left: 20% !important;
}

#team .title {
  position: relative;
  margin-left: 10% !important;
}

.team-member {
  position: relative;
  left: -5% !important;
}

.team-img img {
  height: 100px !important;
  width: 100px !important;
  position: relative;
  left: 0 !important
}
.team-info h4 {
  font-size: 1.5em !important;
}

.team-info p {
  font-size: 1em !important;
}

.testimonials-wrapper {
  margin: auto !important;
  width: 300px !important;
}

#testimonials {
  position: relative;
  margin-left: 5% !important;
  top: 50px !important;
  height: 1000px !important;
  
}

.testimonial-img img {
  height: 100px !important;
  width: 200px !important;
}

.testimonial-info h3 {
  font-size: 1.3em !important;
}

.testimonial-info p {
  font-size: 0.7em !important;
}

#owl-demo3 .owl-controls {
  top: 15px !important;
  left: -5% !important;
}

.join-wrapper {
  margin: auto !important;
  width: 700px !important;
  position: relative;
  left: -5% !important;
  top: -400px !important;
}

#join {
  position: relative;
  margin-left: -10% !important;
}

#join p {
  width: 80% !important;
}

.info-video iframe {
  height: 200px !important;
  width: 380px !important;
}

.join-button {
  left: 35% !important;
}

.contact-section {
  display: none !important;
}

.mobile-contact-section {
  display: block !important;
  position: relative;
  top: -300px !important;

}

.mobile-contact-section h1 {
  position: relative;
  left: 3% !important;
}

.contact-form {
  position: relative;
  left: 10% !important;
}

.input-wrap {
  width: 80% !important;
}

#submit-button {
  width: 80% !important;
}

.location {
  height: 200px !important;
  position: relative;
  top: -600px !important;

} 

.footer-logo img {
  height: 50px !important;
  width: 200px !important;
}

footer {
  height: 500px !important;
}

footer .social-icons li a {
    border-top-left-radius: 40px !important;
    border-top-right-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
    border-radius: 40px !important;
    width: 30px !important;
    height: 30px !important;
}

.social-icons {
  position: relative;
  top: -15px !important;
}

a.fa::before {
  position: relative;
  top: -12px !important;
}



.footer-links {
  position: relative;
  margin-left: -5% !important;
}

.footer-links li {
  display: block !important;
}

.footer-links a {
  text-align: center !important;
}



.footer-info {
  position: relative;
  left: -5% !important;
}


 

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {


 body,
  html {
    overflow-x: hidden !important;
  }

nav {
  height: 50px !important;
}

nav.main-transparent.is-mobile {
  display: none !important;
}


.logo {
  top: -23px !important;
  left: -15% !important;
}

.logo img {
  height: 50px !important;
  width: 200px !important;
}


.nav-toggle {
  position: relative;
  left: 97% !important;
  top: -15px !important;
  font-size: 2em !important; 
}

#mobile-menu {
  position: relative;
  top: -120px !important;
  left: 60% !important;
  width: 120px;
  height: 90px;
  text-align: center;
  transform: translateY(-450%);
  transition: transform 0.6s ease;
  z-index: -1;
  
}



#owl-demo1 {
  position: relative;
  top: 27px !important;
  left: -25% !important;
  width: 500px !important;
  height: 300px !important;
  margin: 0  !important;
  
  
}



.rich-content header img {
  position: relative;
  left: 0 !important;
  width: 100% !important;
  height: 330px !important;
}



.owl-title {
  position: relative;
  top: 100px !important;
  margin-left: 0 !important;
  font-size: 1.3em !important;
}

.owl-controls {
  position: relative;
  top: 300px !important;
  left: 0 !important;
  
}

.main-content {
  height: 40px !important;
}

.row {
  left:  5% !important;
}

.title {
  font-size: 1.5em !important;
}

#about {
  top: 350px !important;
  height: 400px !important;
  left: -25% !important;
}

.about-wrapper {
  margin: auto !important;
  width: 200px !important;
}

#about p {
  font-size: 1.2em !important;
  width: 300px !important;
  
}

.services-wrapper {
  height: 500px !important;
  width: 500px !important;
}

#services {
  height: 300px !important;
  left: -10% !important;
}

.services-posts {
  position: relative;
  left: -15% !important;
}

.service-popup img {
  height: 100px !important;
  width: 100px !important;
  margin-left: 60% !important;

}

.service-popup p,
.service-popup h1,
.service-popup h2,
.service-popup h3,
.service-popup li {
  font-size: 1em !important;
  text-align: center !important;
}

.mfp-close {
  position: relative;
  left: 60% !important;
}

#evaluation-info h3.text-left {
  position: relative;
  left: 3% !important;
}

#evaluation  a, {
  font-size: 0.6em !important;
}

#events a {
  font-size: 0.5em !important;
}

#coach {
  position: relative;
  top: -20px !important;
}

#coach img {
  position: relative;
  left: -20% !important;
}

#coach-info {
  position: relative;
  top: 110px !important;
  left: -10% !important;
  width: 100% !important;
}

#coach .mfp-close {
  position: relative;
  left: 50% !important;
  top: -400px !important;
}

#coach-iframe {
  position: relative;
  height: 100px !important;
  width: 200px !important;
  left: 10% !important;
}

#coach .ghost-btn {
  position: relative;
  left: 25% !important;
}

.products-wrapper {
  margin: auto !important;
  width: 300px !important;
  height: 300px !important;
}

#products {
  position: relative;
  left: -5% !important;
  top: 300px !important;

}

.product-info {
  position: relative;
  left: 10% !important;
}

#owl-demo2 {
  width: 170% !important;
  position: relative;
  left: -50% !important;
  margin: 0 !important;
}


#owl-demo2 h1 {
  font-size: 1.5em !important;
  text-align: center !important;
  
}

#owl-demo2 h4 {
  font-size: 1.3em !important;
  text-align: center !important;
}

#owl-demo2 p,
#owl-demo2 li {
  font-size: 0.7em !important;
  text-align: center !important;
}

#owl-demo2 .owl-controls {
  left: 12% !important;
}

.product-img {
  left: 10% !important;
}

#owl-demo2 .owl-controls {
  position: relative;
  top: 10px !important;
}

.product-link {
  color: #000 !important;
}

.team-wrapper {
  margin: auto !important;
  height: 1500px !important;
  position: relative;
  top: 1000px !important;
}

#team {
  position: relative;
  left: -45% !important;
  top: 0 !important;
}

.team-member {
  left: 30% !important;
}

#team .title {
  position: relative;
  left: 45% !important;
}

.team-img img {
  height: 100px !important;
  width: 100px !important;
}


.team-info {
  position: relative;
  left: -5% !important;
}

.team-info h4 {
  font-size: 1.5em !important;
}

.team-info p {
  font-size: 1em !important;
}

#testimonials {
  position: relative;
  top: 1000px !important;
  left: -5% !important;
}

.testimonial-img {
  position: relative;
  left: -15% !important;
}

.testimonial-img img {
  height: 100px !important;
  width: 200px !important;
  position: relative;
  left: 25% !important;
}

.testimonial-info h3 {
  font-size: 1.5em !important;
}

.testimonial-info p {
  font-size: 1em !important;
  width: 100% !important;

}

#owl-demo3 .owl-controls {
  top: 0 !important;
}

#owl-demo3 {
  left: -5% !important;
}

.join-wrapper {
  margin: auto !important;
  width: 400px !important;
  height: 500px !important;
  position: relative;
  top: 1000px !important;
  left: -10% !important;
}

#join {
  position: relative;
  left: -3% !important;
}


.join-info p {
  font-size: 0.9em !important;
  width: 60% !important;
}

.info-video iframe {
  width: 160px !important;
  height: 115px !important;
}

.join-button {
 padding: 5px 35px;
  position: relative;
  left: 37% !important;
  font-size: 0.7em !important;
}

.contact-section {
  display: none !important;
}

.mobile-contact-section {
  display: block !important;
  position: relative;
  top: 1000px !important;

}

input, 
textarea {

    font-size: 1em !important;
    text-align: center !important;
}

#select1 {
  font-size: 0.7em !important;
}



.input-wrap {
  width: 100% !important;
  height: 10% !important;

} 

.location {
  height: 200px !important;
  position: relative;
  top: -600px !important;
  left: 10% !important;
  width: 200px !important;
} 

.contact-form {
  position: relative;
  left: -5% !important;
  
}

.mobile-contact-section .title {
  position: relative;
  left: 0 !important;
}

#submit-button {
  width: 100% !important;
}


.footer-logo img {
  height: 50px !important;
  width: 200px !important;
}

footer {
  height: 500px !important;
  position: relative;
  top: 500px !important;
}

footer .social-icons li a {
    border-top-left-radius: 40px !important;
    border-top-right-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
    border-radius: 40px !important;
    width: 30px !important;
    height: 30px !important;
}

.social-icons {
  position: relative;
  top: -25px !important;
}

a.fa::before {
  position: relative;
  top: -12px !important;
}



.footer-links {
  position: relative;
  left: -45% !important;
}

.footer-links li {
  display: block !important;
}

.footer-links a {
  text-align: center !important;
}



.footer-info {
  position: relative;
  left: 0% !important;
}





}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {




}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {



}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {


}




/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
 



}

/* iPad Pro (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px)
{




}


/* iPad Pro (landscape) ----------- */
@media screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px)
and (orientation: landscape) {

 

}

/* iPad Pro (portrait) ----------- */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px)
and (orientation: portrait) {

nav {
  height: 200px !important;
}

.is-desktop .main-links {
  top: 60px !important;
  left: 40% !important;
}



#mobile-menu {
 
  top: 275px !important;
  left: 96% !important;
}


#profile-mobile-menu {
 
  top: 15px !important;
  left: 87% !important;
}

.logo {
  left: 0% !important;
  top: 70px !important;
}

#header-facebook {
  margin-top: 220% !important;
  right: 10% !important;
}







}



/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}



/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/* iPhone 6 (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {


   .is-desktop {
    display: none !important;
  }


  .is-mobile  {
    display: block !important;
  }

  .icon-menu {
    display: none !important;
  }


  #mobile-menu .main-links li,
  #profile-mobile-menu .main-links li {
    list-style: none;
    padding: 10px;

  }

  #mobile-menu .main-links a {
    text-decoration: none;
    color: #7A7A7B !important;
    font-size: 0.5em !important;
  }

  #profile-mobile-menu .main-links a {
    text-decoration: none;
    color: #7A7A7B !important;
  }

  #mobile-menu .main-links a:hover{
    color: #fff !important;
    text-decoration: none;
  
  }

  #mobile-menu .main-links li a:visited {
    color: #fff;
    text-decoration: none;
  }
  

  

#mobile-menu.open,
#profile-mobile-menu.open {
  transform: translateY(100%);
}


.main-links {
  background-color: #0a0a0a;


  
}

.main-links a {
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -ms-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  transition: color 0.5s linear;
  font-weight: bold;
  text-decoration: none;
}

.main-links a:hover{
  color: #0498CF;
}

#mobile-carousel {
  display: block !important;
}

#owl-demo1 {
  display: none !important;
}


.services-section .grid figure{
    height: 100px !important;
    width: 100px !important;
    border-radius: 0;
}

.services-section .grid figure:hover{
    height: 100px !important;
    width: 50px !important;
    border-radius: 0;
}



.services-section figcaption {
  height: 200px !important;
  width: 200px !important;
}



.services-section figure.effect-bubba img {
    height: 100px !important;
    width: 100px !important;
    border-radius: 0;
}

.services-section .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    min-width: 100px !important;
    max-width: 300px !important;
    max-height: 100px;
    width: 100px;
    height: auto;
    text-align: center;
    cursor: pointer;
    padding: 0;
   

}

.services-section .item:hover figure.effect-bubba h2 {
    font-size: 1em !important;
    position: relative;
    top: -40px !important;
    left: -30% !important;
}

figcaption::after,
figcaption::before {
   
    border: none !important;
}







}



/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2)
{ 

 nav {
    height: 50px !important;
  }

  nav.main-transparent.is-mobile {
  display: none !important;
}




.logo {
  top: -20px !important;
}

.logo img {
  height: 50px !important;
  width: 200px !important;
}


.nav-toggle {
  position: relative;
  top: -13px !important;
  left: 98% !important;
  font-size: 1.5em !important;

}


#mobile-menu {
  position: relative;
  top: -125px !important;
  left: 90% !important;
  width: 90px;
  height: 90px;
  text-align: center;
  transform: translateY(-450%);
  transition: transform 0.6s ease;
  z-index: -99;
  
}

#mobile-menu .main-links  {
  z-index: -1 !important;
}



#owl1-img2 {
  width: 100vw !important;
}


.owl-title {
  position: relative;
  top: 100px !important;
  margin-left: 0 !important;
  font-size: 2.5em !important;
}

.owl-controls {
  position: relative;
  top: 400px !important;
  left: 0 !important;
}

.main-content {
  height: 250px !important;
}

.title {
  font-size: 1.2em !important;
}

.about-wrapper {
  width: 350px !important;
}

#about {
  top: 300px !important;
  height: 300px !important;
  left: 50% !important;

}

#about p {
  font-size: 1em !important;
}

.services-wrapper {
  width: 700px !important;
  height: 500px !important;
  position: relative;
  top: 200px !important;
  left: 0 !important;
}

#services .title {
  position: relative;
  left: -10% !important;
}

#services {
  position: relative;
  height: 300px !important;
  left: 10% !important;
  width: 80% !important;
}

.service-popup img {
  height: 100px !important;
  width: 100px !important;
  margin-left: 60% !important;

}

.service-popup p,
.service-popup h1,
.service-popup h2,
.service-popup h3,
.service-popup li {
  font-size: 1em !important;
  text-align: center !important;
}

.mfp-close {
  position: relative;
  left: 60% !important;
}

#evaluation-info h3.text-left {
  position: relative;
  left: 3% !important;
}

#evaluation  a, {
  font-size: 0.6em !important;
}

#events a {
  font-size: 0.5em !important;
}

#coach {
  position: relative;
  top: -20px !important;
}

#coach img {
  position: relative;
  left: -20% !important;
}

#coach-info {
  position: relative;
  top: 110px !important;
  left: -10% !important;
  width: 100% !important;
}

#coach .mfp-close {
  position: relative;
  left: 50% !important;
  top: -400px !important;
}

#coach-iframe {
  position: relative;
  height: 100px !important;
  width: 200px !important;
  left: 10% !important;
}

#coach .ghost-btn {
  position: relative;
  left: 25% !important;
}

.products-wrapper {
  width: 500px !important;
}

#products {
  position: relative;
  top: 300px !important;
  left: 15% !important;
}



#owl-demo2 img {
  height: 100px !important;
  width: 100px !important;
  position: relative;
  margin-left: 100% !important;
}


#owl-demo2 h1 {
  font-size: 1.5em !important;
  text-align: center !important;
  
}

#owl-demo2 h4 {
  font-size: 1.3em !important;
  text-align: center !important;
}

#owl-demo2 p,
#owl-demo2 li {
  font-size: 0.7em !important;
  text-align: center !important;
}

#owl-demo2 .owl-controls {
  position: relative;
  top: 10px !important;
  left: 0 !important;
}

.team-wrapper {
  height: 1500px !important;
}

#team {
  position: relative;
  left: 20% !important;
}

#team .title {
  position: relative;
  left: -20% !important;
}

.team-member {
  position: relative;
  left: -5% !important;
}

.team-img img {
  height: 100px !important;
  width: 100px !important;
  position: relative;
  left: 0 !important
}
.team-info h4 {
  font-size: 1.5em !important;
}

.team-info p {
  font-size: 1em !important;
}

.testimonials-wrapper {
  margin: auto !important;
  width: 300px !important;
}

#testimonials {
  position: relative;
  left: 0 !important;
  top: 50px !important;
  height: 1000px !important;
  
}

.testimonial-img img {
  height: 100px !important;
  width: 200px !important;
}

.testimonial-info h3 {
  font-size: 1.3em !important;
}

.testimonial-info p {
  font-size: 0.7em !important;
}

#owl-demo3 .owl-controls {
  top: 15px !important;
  left: -5% !important;
}

.join-wrapper {
  margin: auto !important;
  width: 700px !important;
  position: relative;
  left: -5% !important;
  top: -400px !important;
}

#join {
  position: relative;
  left: 5% !important;
}

.info-video iframe {
  height: 200px !important;
  width: 380px !important;
}

.join-button {
  left: 35% !important;
}

.contact-section {
  display: none !important;
}

.mobile-contact-section {
  display: block !important;
  position: relative;
  top: -300px !important;

}

.mobile-contact-section h1 {
  position: relative;
  left: 3% !important;
}

.contact-form {
  position: relative;
  left: 10% !important;
}

.input-wrap {
  width: 80% !important;
}

#submit-button {
  width: 80% !important;
}

.location {
  height: 200px !important;
  position: relative;
  top: -600px !important;

} 

.footer-logo img {
  height: 50px !important;
  width: 200px !important;
}

footer {
  height: 500px !important;
}

footer .social-icons li a {
    border-top-left-radius: 40px !important;
    border-top-right-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
    border-radius: 40px !important;
    width: 30px !important;
    height: 30px !important;
}

a.fa::before {
  position: relative;
  top: -12px !important;
}

.social-icons {
  position: relative;
  top: -15px !important;
}

.footer-links {
  position: relative;
  left: 0 !important;
}

.footer-links li {
  display: block !important;
}

.footer-links a {
  text-align: center !important;
}



.footer-info {
  position: relative;
  left: -5% !important;
}





}


/* iPhone 6 portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2)
{ 

  body,
  html {
    overflow-x: hidden !important;
  }

nav {
  height: 50px !important;
}

nav.main-transparent.is-mobile {
  display: none !important;
}


.logo {
  top: -23px !important;
  left: -15% !important;
}

.logo img {
  height: 50px !important;
  width: 200px !important;
}


.nav-toggle {
  position: relative;
  left: 97% !important;
  top: -15px !important;
  font-size: 2em !important; 
}

#mobile-menu {
  position: relative;
  top: -120px !important;
  left: 80% !important;
  width: 100px;
  height: 90px;
  text-align: center;
  transform: translateY(-450%);
  transition: transform 0.6s ease;
  z-index: -1;
  
}



#owl-demo1 {
  position: relative;
  top: 27px !important;
  left: -25% !important;
  width: 500px !important;
  height: 300px !important;
  margin: 0  !important;
  
  
}



.rich-content header img {
  position: relative;
  left: 0 !important;
  width: 100% !important;
  height: 330px !important;
}



.owl-title {
  position: relative;
  top: 100px !important;
  margin-left: 0 !important;
  font-size: 1.3em !important;
}

.owl-controls {
  position: relative;
  top: 300px !important;
  left: 0 !important;
  
}

.main-content {
  height: 40px !important;
}


.row {
  left:  5% !important;
}

.title {
  font-size: 1.5em !important;
}

#about {
  height: 500px !important;
  left: -50% !important;
  top: 400px !important;
}
.about-wrapper {
  margin: auto !important;
  width: 200px !important;
}

#about p {
  font-size: 1.2em !important;
  width: 400px !important;
  
}

.services-wrapper {
  height: 700px !important;
  width: 400px !important;
}

#services {
  height: 300px !important;
  left: -5% !important;
}

#services .title {
  left: 5% !important;
}

.services-posts {
  position: relative;
  left: -10% !important;
}

.service-popup img {
  height: 100px !important;
  width: 100px !important;
  margin-left: 60% !important;

}

.service-popup p,
.service-popup h1,
.service-popup h2,
.service-popup h3,
.service-popup li {
  font-size: 1em !important;
  text-align: center !important;
}

.mfp-close {
  position: relative;
  left: 60% !important;
}

#evaluation-info h3.text-left {
  position: relative;
  left: 3% !important;
}

#evaluation  a, {
  font-size: 0.6em !important;
}

#events a {
  font-size: 0.5em !important;
}

#coach {
  position: relative;
  top: -20px !important;
}

#coach img {
  position: relative;
  left: -20% !important;
}

#coach-info {
  position: relative;
  top: 110px !important;
  left: -10% !important;
  width: 100% !important;
}

#coach .mfp-close {
  position: relative;
  left: 50% !important;
  top: -400px !important;
}

#coach-iframe {
  position: relative;
  height: 100px !important;
  width: 200px !important;
  left: 10% !important;
}

#coach .ghost-btn {
  position: relative;
  left: 25% !important;
}

.products-wrapper {
  margin: auto !important;
  width: 300px !important;
  height: 300px !important;
}

#products {
  position: relative;
  left: -5% !important;
  top: 300px !important;

}

#owl-demo2 {
  width: 200% !important;
  position: relative;
  left: -50% !important;
  margin: 0 !important;
}


#owl-demo2 h1 {
  font-size: 1.5em !important;
  text-align: center !important;
  
}

#owl-demo2 h4 {
  font-size: 1.3em !important;
  text-align: center !important;
}

#owl-demo2 p,
#owl-demo2 li {
  font-size: 0.7em !important;
  text-align: center !important;
}

.product-img {
  left: 10% !important;
}



#owl-demo2 .owl-controls {
  position: relative;
  top: 10px !important;
}

.product-link {
  color: #000 !important;
}

.team-wrapper {
  margin: auto !important;
  height: 1500px !important;
  position: relative;
  top: 1000px !important;
}

#team {
  position: relative;
  left: -50% !important;
  top: 0 !important;
}

.team-member {
  left: 47% !important;
}

#team .title {
  position: relative;
  left: 52% !important;
}

.team-img img {
  height: 100px !important;
  width: 100px !important;
}


.team-info {
  position: relative;
  left: 0 !important;
}

.team-info h4 {
  font-size: 1.5em !important;
}

.team-info p {
  font-size: 1em !important;
}

#testimonials {
  position: relative;
  top: 1000px !important;
  left: -5% !important;
}

.testimonial-img {
  position: relative;
  left: -15% !important;
}

.testimonial-img img {
  height: 100px !important;
  width: 200px !important;
  position: relative;
  left: 25% !important;
}

.testimonial-info h3 {
  font-size: 1.5em !important;
}

.testimonial-info p {
  font-size: 1em !important;
  width: 100% !important;

}

#owl-demo3 .owl-controls {
  top: 0 !important;
}

.join-wrapper {
  margin: auto !important;
  width: 400px !important;
  height: 500px !important;
  position: relative;
  top: 1000px !important;
  left: 0 !important;
}

#join {
  position: relative;
  left: -5%;
}


.join-info p {
  font-size: 0.9em !important;
  width: 80% !important;
}

.info-video iframe {
  width: 160px !important;
  height: 115px !important;
}

.join-button {
 padding: 5px 35px;
  position: relative;
  left: 37% !important;
  font-size: 0.7em !important;
}

.contact-section {
  display: none !important;
}

.mobile-contact-section {
  display: block !important;
  position: relative;
  top: 1000px !important;
  left: -5% !important;

}

input, 
textarea {

    font-size: 1em !important;
    text-align: center !important;
}

#select1 {
  font-size: 0.7em !important;
}



 .input-wrap {
  width: 100% !important;
  height: 10% !important;


} 

.location {
  height: 200px !important;
  position: relative;
  top: -600px !important;
  left: 17% !important;
  width: 200px !important;


} 

.contact-form {
  position: relative;
  left: 0 !important;
  
}

#submit-button {
  width: 100% !important;
}


.footer-logo img {
  height: 50px !important;
  width: 200px !important;
}

footer {
  height: 500px !important;
  position: relative;
  top: 500px !important;
}

footer .social-icons li a {
    border-top-left-radius: 40px !important;
    border-top-right-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
    border-radius: 40px !important;
    width: 30px !important;
    height: 30px !important;
}

a.fa::before {
  position: relative;
  top: -12px !important;
}



.footer-links {
  position: relative;
  left: -30% !important;
}

.footer-links li {
  display: block !important;
}

.footer-links a {
  text-align: center !important;
}



.footer-info {
  position: relative;
  left: 0% !important;
}


}


/* iPhone 6 Plus landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 3)
{


  nav {
    height: 50px !important;
  }

  nav.main-transparent.is-mobile {
  display: none !important;
}




.logo {
  top: -20px !important;
}

.logo img {
  height: 50px !important;
  width: 200px !important;
}


.nav-toggle {
  position: relative;
  top: -13px !important;
  left: 98% !important;
  font-size: 1.5em !important;

}


#mobile-menu {
  position: relative;
  top: -125px !important;
  left: 90% !important;
  width: 90px;
  height: 90px;
  text-align: center;
  transform: translateY(-450%);
  transition: transform 0.6s ease;
  z-index: -99;
  
}

#mobile-menu .main-links  {
  z-index: -1 !important;
}



#owl1-img2 {
  width: 100vw !important;
}


.owl-title {
  position: relative;
  top: 140px !important;
  margin-left: 0 !important;
  font-size: 2.5em !important;
}

.owl-controls {
  position: relative;
  top: 400px !important;
  left: 0 !important;
}

.main-content {
  height: 250px !important;
}

.title {
  font-size: 1.2em !important;
}

.about-wrapper {
  width: 350px !important;
}

#about {
  top: 300px !important;
  height: 300px !important;
  left: 60% !important;

}

#about p {
  font-size: 1em !important;
}

.services-wrapper {
  width: 800px !important;
  height: 500px !important;
  position: relative;
  top: 200px !important;
  left: 0 !important;
}

#services .title {
  position: relative;
  left: -10% !important;
}

#services {
  position: relative;
  height: 300px !important;
  left: 7% !important;
  width: 70% !important;
}

.service-popup img {
  height: 100px !important;
  width: 100px !important;
  margin-left: 60% !important;

}

.service-popup p,
.service-popup h1,
.service-popup h2,
.service-popup h3,
.service-popup li {
  font-size: 1em !important;
  text-align: center !important;
}

.mfp-close {
  position: relative;
  left: 60% !important;
}

#evaluation-info h3.text-left {
  position: relative;
  left: 3% !important;
}

#evaluation  a, {
  font-size: 0.6em !important;
}

#events a {
  font-size: 0.5em !important;
}

#coach {
  position: relative;
  top: -20px !important;
}

#coach img {
  position: relative;
  left: -20% !important;
}

#coach-info {
  position: relative;
  top: 110px !important;
  left: -10% !important;
  width: 100% !important;
}

#coach .mfp-close {
  position: relative;
  left: 50% !important;
  top: -400px !important;
}

#coach-iframe {
  position: relative;
  height: 100px !important;
  width: 200px !important;
  left: 10% !important;
}

#coach .ghost-btn {
  position: relative;
  left: 25% !important;
}

.products-wrapper {
  width: 500px !important;
}

#products {
  position: relative;
  top: 300px !important;
  left: 30% !important;
}



#owl-demo2 img {
  height: 100px !important;
  width: 100px !important;
  position: relative;
  margin-left: 100% !important;
}


#owl-demo2 h1 {
  font-size: 1.5em !important;
  text-align: center !important;
  
}

#owl-demo2 h4 {
  font-size: 1.3em !important;
  text-align: center !important;
}

#owl-demo2 p,
#owl-demo2 li {
  font-size: 0.7em !important;
  text-align: center !important;
}

#owl-demo2 .owl-controls {
  position: relative;
  top: 10px !important;
  left: 0 !important;
}

.team-wrapper {
  height: 1500px !important;
}

#team {
  position: relative;
  left: 20% !important;
  width: 80% !important;
}

#team .title {
  position: relative;
  left: -20% !important;
}

.team-member {
  position: relative;
  left: -10% !important;
}

.team-img img {
  height: 100px !important;
  width: 100px !important;
  position: relative;
  left: 0 !important
}
.team-info h4 {
  font-size: 1.5em !important;
}

.team-info p {
  font-size: 1em !important;
}

.testimonials-wrapper {
  margin: auto !important;
  width: 300px !important;
}

#testimonials {
  position: relative;
  left: 0 !important;
  top: 50px !important;
  height: 1000px !important;
  
}

.testimonial-img img {
  height: 100px !important;
  width: 200px !important;
}

.testimonial-info h3 {
  font-size: 1.3em !important;
}

.testimonial-info p {
  font-size: 0.7em !important;
}

#owl-demo3 .owl-controls {
  top: 15px !important;
  left: -5% !important;
}

.join-wrapper {
  margin: auto !important;
  width: 800px !important;
  position: relative;
  left: -5% !important;
  top: -400px !important;
}

#join {
  position: relative;
  left: 5% !important;
}

.info-video iframe {
  height: 200px !important;
  width: 380px !important;
}

.join-button {
  left: 35% !important;
}

.contact-section {
  display: none !important;
}

.mobile-contact-section {
  display: block !important;
  position: relative;
  top: -300px !important;

}

.mobile-contact-section h1 {
  position: relative;
  left: 3% !important;
}

.contact-form {
  position: relative;
  left: 10% !important;
}

.input-wrap {
  width: 80% !important;
}

#submit-button {
  width: 80% !important;
}

.location {
  height: 200px !important;
  position: relative;
  top: -600px !important;

} 

.location-info {
  position: relative;
  left: 3% !important;
}

.footer-logo img {
  height: 50px !important;
  width: 200px !important;
}

footer {
  height: 500px !important;
}

footer .social-icons li a {
    border-top-left-radius: 40px !important;
    border-top-right-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
    border-radius: 40px !important;
    width: 30px !important;
    height: 30px !important;
}

a.fa::before {
  position: relative;
  top: -12px !important;
}



.footer-links {
  position: relative;
  left: 0 !important;
}

.footer-links li {
  display: block !important;
}

.footer-links a {
  text-align: center !important;
}



.footer-info {
  position: relative;
  left: 0 !important;
}






 }

/* iPhone 6 Plus portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 3)
{ 

   body,
  html {
    overflow-x: hidden !important;
  }



nav {
  height: 50px !important;
}

nav.main-transparent.is-mobile {
  display: none !important;
}


.logo {
  top: -23px !important;
  left: -15% !important;
}

.logo img {
  height: 50px !important;
  width: 200px !important;
}


.nav-toggle {
  position: relative;
  left: 97% !important;
  top: -15px !important;
  font-size: 2em !important; 
}

#mobile-menu {
  position: relative;
  top: -120px !important;
  left: 80% !important;
  width: 100px;
  height: 90px;
  text-align: center;
  transform: translateY(-450%);
  transition: transform 0.6s ease;
  z-index: -1;
  
}



#owl-demo1 {
  position: relative;
  top: 27px !important;
  left: -25% !important;
  width: 500px !important;
  height: 300px !important;
  margin: 0  !important;
  
  
}



.rich-content header img {
  position: relative;
  left: 0 !important;
  width: 100% !important;
  height: 330px !important;
}



.owl-title {
  position: relative;
  top: 100px !important;
  margin-left: 0 !important;
  font-size: 1.3em !important;
}

.owl-controls {
  position: relative;
  top: 300px !important;
  left: 0 !important;
  
}

.main-content {
  height: 40px !important;
}


.row {
  left:  5% !important;
}

.title {
  font-size: 1.5em !important;
}

#about {
  height: 500px !important;
  left: -50% !important;
  top: 400px !important;
}
.about-wrapper {
  margin: auto !important;
  width: 200px !important;
}

#about p {
  font-size: 1.2em !important;
  width: 400px !important;
  
}

.services-wrapper {
  height: 700px !important;
  width: 500px !important;
}

#services {
  height: 300px !important;
  left: -5% !important;
}

#services .title {
  left: -3% !important;
}

.services-posts {
  position: relative;
  left: -10% !important;
}

.service-popup img {
  height: 100px !important;
  width: 100px !important;
  margin-left: 60% !important;

}

.service-popup p,
.service-popup h1,
.service-popup h2,
.service-popup h3,
.service-popup li {
  font-size: 1em !important;
  text-align: center !important;
}

.mfp-close {
  position: relative;
  left: 60% !important;
}

#evaluation-info h3.text-left {
  position: relative;
  left: 3% !important;
}

#evaluation  a, {
  font-size: 0.6em !important;
}

#events a {
  font-size: 0.5em !important;
}

#coach {
  position: relative;
  top: -20px !important;
}

#coach img {
  position: relative;
  left: -20% !important;
}

#coach-info {
  position: relative;
  top: 110px !important;
  left: -10% !important;
  width: 100% !important;
}

#coach .mfp-close {
  position: relative;
  left: 50% !important;
  top: -400px !important;
}

#coach-iframe {
  position: relative;
  height: 100px !important;
  width: 200px !important;
  left: 10% !important;
}

#coach .ghost-btn {
  position: relative;
  left: 25% !important;
}

.products-wrapper {
  margin: auto !important;
  width: 300px !important;
  height: 300px !important;
}

#products {
  position: relative;
  left: -5% !important;
  top: 300px !important;

}

#owl-demo2 {
  width: 200% !important;
  position: relative;
  left: -50% !important;
  margin: 0 !important;
}


#owl-demo2 h1 {
  font-size: 1.5em !important;
  text-align: center !important;
  
}

#owl-demo2 h4 {
  font-size: 1.3em !important;
  text-align: center !important;
}

#owl-demo2 p,
#owl-demo2 li {
  font-size: 0.7em !important;
  text-align: center !important;
}

.product-img {
  left: 10% !important;
}



#owl-demo2 .owl-controls {
  position: relative;
  top: 10px !important;
}

.product-link {
  color: #000 !important;
}

.team-wrapper {
  margin: auto !important;
  height: 1500px !important;
  position: relative;
  top: 1000px !important;
}

#team {
  position: relative;
  left: -50% !important;
  top: 0 !important;
}

.team-member {
  left: 60% !important;
}

#team .title {
  position: relative;
  left: 52% !important;
}

.team-img img {
  height: 100px !important;
  width: 100px !important;
}


.team-info {
  position: relative;
  left: 0 !important;
}

.team-info h4 {
  font-size: 1.5em !important;
}

.team-info p {
  font-size: 1em !important;
}

#testimonials {
  position: relative;
  top: 1000px !important;
  left: -5% !important;
}

.testimonial-img {
  position: relative;
  left: -15% !important;
}

.testimonial-img img {
  height: 100px !important;
  width: 200px !important;
  position: relative;
  left: 25% !important;
}

.testimonial-info h3 {
  font-size: 1.5em !important;
}

.testimonial-info p {
  font-size: 1em !important;
  width: 100% !important;

}

#owl-demo3 .owl-controls {
  top: 0 !important;
}

.join-wrapper {
  margin: auto !important;
  width: 500px !important;
  height: 500px !important;
  position: relative;
  top: 1000px !important;
  left: 0 !important;
}

#join {
  position: relative;
  left: -7%;
}


.join-info p {
  font-size: 0.9em !important;
}

.info-video iframe {
  width: 160px !important;
  height: 115px !important;
}

.join-button {
 padding: 5px 35px;
  position: relative;
  left: 37% !important;
  font-size: 0.7em !important;
}

.contact-section {
  display: none !important;
}

.mobile-contact-section {
  display: block !important;
  position: relative;
  top: 1000px !important;
  left: -5% !important;

}

input, 
textarea {

    font-size: 1em !important;
    text-align: center !important;
}

#select1 {
  font-size: 0.7em !important;
}



 .input-wrap {
  width: 100% !important;
  height: 10% !important;


} 

.location {
  height: 200px !important;
  position: relative;
  top: -600px !important;
  left: 20% !important;
  width: 200px !important;


} 

.contact-form {
  position: relative;
  left: 0 !important;
  
}

#submit-button {
  width: 100% !important;
}


.footer-logo img {
  height: 50px !important;
  width: 200px !important;
}

footer {
  height: 500px !important;
  position: relative;
  top: 500px !important;
}

footer .social-icons li a {
    border-top-left-radius: 40px !important;
    border-top-right-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
    border-radius: 40px !important;
    width: 30px !important;
    height: 30px !important;
}

a.fa::before {
  position: relative;
  top: -12px !important;
}



.footer-links {
  position: relative;
  left: -22% !important;
}

.footer-links li {
  display: block !important;
}

.footer-links a {
  text-align: center !important;
}



.footer-info {
  position: relative;
  left: 0% !important;
}


}


/* iPhone 6 Plus (orientation: portrait and landscape) */
@media only screen
  and (max-device-width: 414px),
  only screen and (max-device-width: 736px)
  
{ 

.is-desktop {
    display: none !important;
  }


  .is-mobile  {
    display: block !important;
  }

  .icon-menu {
    display: none !important;
  }


  #mobile-menu .main-links li,
  #profile-mobile-menu .main-links li {
    list-style: none;
    padding: 10px;

  }

  #mobile-menu .main-links a {
    text-decoration: none;
    color: #7A7A7B !important;
    font-size: 0.5em !important;
  }

  #profile-mobile-menu .main-links a {
    text-decoration: none;
    color: #7A7A7B !important;
  }

  #mobile-menu .main-links a:hover{
    color: #fff !important;
    text-decoration: none;
  
  }

  #mobile-menu .main-links li a:visited {
    color: #fff;
    text-decoration: none;
  }
  

  

#mobile-menu.open,
#profile-mobile-menu.open {
  transform: translateY(100%);
}


.main-links {
  background-color: #0a0a0a;


  
}

.main-links a {
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -ms-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  transition: color 0.5s linear;
  font-weight: bold;
  text-decoration: none;
}

.main-links a:hover{
  color: #0498CF;
}


#mobile-carousel {
  display: block !important;
}

#owl-demo1 {
  display: none !important;
}

.services-section .grid figure{
    height: 100px !important;
    width: 100px !important;
    border-radius: 0;
}

.services-section .grid figure:hover{
    height: 100px !important;
    width: 50px !important;
    border-radius: 0;
}



.services-section figcaption {
  height: 200px !important;
  width: 200px !important;
}



.services-section figure.effect-bubba img {
    height: 100px !important;
    width: 100px !important;
    border-radius: 0;
}

.services-section .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    min-width: 100px !important;
    max-width: 300px !important;
    max-height: 100px;
    width: 100px;
    height: auto;
    text-align: center;
    cursor: pointer;
    padding: 0;
   

}

.services-section .item:hover figure.effect-bubba h2 {
    font-size: 1em !important;
    position: relative;
    top: -40px !important;
    left: -30% !important;
}

figcaption::after,
figcaption::before {
   
    border: none !important;
}



}





/* iPhone 6 and 6 Plus */
@media only screen
  and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (max-width: 480px)
{ 

  



}

/* Apple Watch */
@media
  (max-device-width: 42mm)
  and (min-device-width: 38mm)
{ }