/* Medium Layout: 1280px. */

@media only screen 
and (max-width: 48em) {

    
nav {
  top: -40px;
}


.is-desktop {
  display: none !important;
}

.is-mobile {
  display: block !important;
  position: relative;
}

#mobile-menu .main-links li,
#profile-mobile-menu .main-links li {
  list-style: none;
  padding: 10px;

}

#mobile-menu .main-links a {
  text-decoration: none;
  color: #7A7A7B !important;
}

#profile-mobile-menu .main-links a {
  text-decoration: none;
  color: #7A7A7B !important;
}

#mobile-menu .main-links a:hover{
  color: #fff !important;
  text-decoration: none;
  
}

#mobile-menu .main-links li a:visited {
  color: #fff;
  text-decoration: none;
}


.nav-toggle,
.nav-toggle2 {
  position: relative;
  color: #fff;
  margin-left: 94% !important;
  margin-top: 7% !important;
}


#mobile-menu {
  position: relative;
  margin-top: -15%;
  left: 80% !important;
  width: 150px;
  height: 90px;
  text-align: center;
  transform: translateY(-450%);
  transition: transform 0.6s ease;
  z-index: -1;
  
}

#profile-mobile-menu {

  position: relative;
  margin-top: -15%;
  left: 80% !important;
  width: 150px;
  height: 90px;
  text-align: center;
  transform: translateY(-450%);
  transition: transform 0.6s ease;
  z-index: -1;

}

#mobile-menu.open,
#profile-mobile-menu.open {
  transform: translateY(100%);
}



.main-links {
  background-color: #0a0a0a;


  
}

.main-links a {
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -ms-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  transition: color 0.5s linear;
  font-weight: bold;
  text-decoration: none;
}

.main-links a:hover{
  color: #0498CF;
}




.logo {
  position: relative;
  top: 30px;
  left: -10%;
}


.rich-content header {
  position: relative;
  top: 50px;
}

.owl-title {
  position: relative;
  top: 120px !important;
  font-size: 2.5em !important;
}

#owl-demo1 .owl-controls {
  top: 400px;
}


.carousel {
  height: 500px;
}

.row {
  left: 0 !important;
}

.service-popup p,
.service-popup h1,
.service-popup h3,
.service-popup li {
  text-align: center !important;
}

#evaluation .ghost-btn {
  left: 20% !important;
}


.product-info {
  text-align: center !important;
}

.product-info .text-left {
  text-align: center !important;
}



}
