/* Mid Screen ----------- */
@media only screen 
and (max-width: 48em) {


nav {
  top: -40px;
}


.is-desktop {
  display: none !important;
}

.is-mobile {
  display: block !important;
  position: relative;
}

#mobile-menu .main-links li{
  list-style: none;
  padding: 10px;

}

#mobile-menu .main-links a {
  color: #fff;
  text-decoration: none;
}

#mobile-menu .main-links a:hover{
  color: #fff;
  text-decoration: none;
  
}

#mobile-menu .main-links li a:visited {
  color: #fff;
  text-decoration: none;
}


.nav-toggle {
  position: relative;
  color: #fff;
  left: 90% !important;
  margin-top: 7% !important;



}


#mobile-menu {
  position: relative;
  margin-top: 3%;
  right: 3%;
  width: 150px;
  height: 90px;
  text-align: center;
  transform: translateY(-450%);
  transition: transform 0.6s ease;
  z-index: -1;
  
}

#mobile-menu.open {
  transform: translateY(100%);
}



.main-links {
  background-color: #0a0a0a;


  
}

.main-links a {
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -ms-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  transition: color 0.5s linear;
  font-weight: bold;
  text-decoration: none;
}

.main-links a:hover{
  color: #0498CF;
}




.logo {
  position: relative;
  top: 30px;
  left: -10%;
}

.rich-content header {
  position: relative;
  top: 50px;
}

.owl-title {
  position: relative;
  top: 120px !important;
  font-size: 2.5em !important;
}

#owl-demo1 .owl-controls {
  top: 400px;
}

.row {
 
  left: -3%;
  
}

.carousel {
  height: 500px;
}

#about p {
  width: 50%;
}

.services-section {
  height: 2000px;
}

.services-section .grid figure {
  left: 20%;
}

.service-popup p,
.service-popup h1,
.service-popup h2,
.service-popup h3,
.service-popup h4,
.service-popup ul {
  text-align: center !important;
}

.service-popup img {
  width: 50%;
  height: 50%;
  position: relative;
  left: 25% !important;
}

#challenge .ghost-btn {
  position: relative;
  left: 33% !important;
}

#shakes img {
  position: relative;
  left: 50% !important;
}

#shakes .ghost-btn {
  position: relative;
  left: 35% !important;
}

#events img {
  height: 100%;
  width: 100%;
  position: relative;
  left: 15% !important;
}

#events .ghost-btn {
  position: relative;
  left: 20% !important;
}

#trial-pack img {
  position: relative;
  left: 50% !important;
}

#trial-pack .ghost-btn {
  position: relative;
  left: 20% !important;
}

#coach-info {
  position: relative;
  top: 120px !important;
}

#coach .ghost-btn {
  position: relative;
  left: 40% !important;
}



.products-section {
  height: 1200px !important;
}


#owl-demo2 img {
  position: relative;
  left: 10%;
  height: 50% !important;
  width: 50% !important;

}

#owl2-img1 {
  height: 10px !important;
  width: 10px !important;
  top: -10px !important;
  left: 0% !important;
}

#owl-demo2 {
  text-align: center !important;
}

#owl2-img2, 
#owl2-img3,
#owl2-img5 {
  position: relative;
  left: 26% !important;
}



/* #owl-demo2 .owl-controls {
  display: none !important;
} */

.team-member {
  position: relative;
  left: 50% !important;
}

.team-img img {
  height: 300px !important;
  width: 300px !important;
  left: 0 !important;
}


.testimonial-img img {
  position: relative;
  left: 70% !important;
}

.testimonial-info p {
  width: 50% !important;
}

.join-section {
  height: 1700px;
}

.join-section p {
  width: 50% !important;
}

.join-button {
  position: relative;
  left: 35%;
}

.contact-section {
  position: relative;
  top: 100px !important;
}


.contact-form {
  position: relative;
  left: 50%;
}

.input-wrap {
  width: 100% !important;
}


.location {
  display: none !important;
}

footer {
  margin-bottom: -50% !important;
}













}




/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {





}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

body {
  width: 115% !important;
  overflow-x: hidden !important;
}

.nav-toggle {
  
  top: 7% !important;

}


#mobile-menu {
  position: fixed;
  top: -7.5%;
  right: 3%;
  width: 170px;
  height: 90px;
  text-align: center;
  transform: translateY(-450%);
  transition: transform 0.6s ease;
  z-index: -1;
  
}

#mobile-menu .main-links li a {
  position: relative;
  left: -8% !important;
}

#owl-demo1 .owl-controls {
  top: 345px !important;
}



footer {
 width: 115vw !important;
}

 

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {


body {
  width: 200% !important;
  overflow-x: hidden !important;
}


.nav-toggle {
  
  top: 2.7% !important;
  left: 80% !important;
}


#mobile-menu {
  position: fixed;
  top: -4%;
  left: 62% !important;
  width: 170px;
  height: 90px;
  text-align: center;
  transform: translateY(-450%);
  transition: transform 0.6s ease;
  z-index: -1;
  
}

#mobile-menu .main-links li a {
  position: relative;
  left: -7% !important;
}

.rich-content header img{
  height: 100vw !important;

}

#owl-demo1 .owl-controls {
  top: 350px !important;
}

#owl2-img2, 
#owl2-img3,
#owl2-img5 {
 
  left: 10% !important;
}


.services-section figure {
  left: 10% !important;

}

.service-popup {
  position: relative;
  top: 200px !important;
  left: 50% !important;
}

.team-member {
  left: 25% !important;
}

.testimonial-img img {
  left: 45% !important;
}

div.mfp-bg.mfp-ready {
  width: 200vw !important;
}

.contact-form {
  left: 40% !important;
}

footer {
 width: 200vw !important;
}

.footer {
  left: 0% !important;
}

 

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {


}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

.logo {
  left: -5%;
}

.is-desktop  .main-links  {
    position: relative;
    top: -20px !important;
    left: 28%;
 }

 .services-section figure img {
  padding: 30px !important;
 }

 .services-section figure {
  left: 0%;
 }

 .team-member {
  padding: 60px !important;
 }

 .team-info {
  position: relative;
  left: 70% !important;
 }

 

 .team-img img {
  position: relative;
  left: -50% !important;
  padding: 10px !important;



 }





}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {


  body {
  width: 120% !important;
  overflow-x: hidden !important;
}

.nav-toggle {
    
  top: 2% !important;
}


#mobile-menu {
 
  top: -2.5%;
  
  
}

.logo {
  left: 0% !important;
}

.services-section  {
  height: 800px;
}

.services-section figure {
  left: -5% !important;

}


#owl2-img2,
#owl2-img3,
#owl2-img5 {
  left: 25% !important;
}


.benefits {
  left: 0;
}

.contact-form {
  left: 50%;
}



}

/


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
 /*  body {
  width: 110% !important;
  overflow-x: hidden !important;
} */

footer {
 width: 100vw !important;
}

}

/* iPad Pro (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px)
{


}


/* iPad Pro (landscape) ----------- */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px)
and (orientation: landscape) {

footer{
width: 120% !important;
}

}

/* iPad Pro (portrait) ----------- */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px)
and (orientation: portrait) {

 .row {
  left: 0% !important;
 }

  nav {
    height: 80px !important;
  }

  .is-desktop .main-links  {
    position: relative;
    top: -20px !important;
    left: 28%;
 }

 .services-section .grid figure {
  padding: 30px !important;
}


 .owl-controls {
  top: 100% !important;
 }

 .team-member {
  padding: 20px;
 }

 .team-img img {
    height: 200px !important;
    width: 200px !important;
 }

 .team-info p {
  line-height: 100%;
 }

 footer {
  width: 120vw !important;
 }




}



/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2)
{ 

  body {
  width: 117% !important;
  overflow-x: hidden !important;
}



.logo {
  left: -5% !important;
}


.services-section figure {
  left: 40% !important;

}

#owl2-img2,
#owl2-img3,
#owl2-img5 {
  left: 20% !important;
}

.product-info p {
  text-align: center !important;
}

.benefits {
  left: 0% !important;
  text-align: center !important;
}

.testimonial-img img {
  left: 70% !important;
}

.contact-form {
  left: 50% !important;
}



}

/* iPhone 6 portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2)
{ 


body {
  width: 180% !important;
  overflow-x: hidden !important;
}

.nav-toggle {
    
  top: 2.7% !important;
}


#mobile-menu {
 
  top: -2.7%;
  
  
}


.rich-content header img{
  height: 100vw !important;

}

#owl-demo1 .owl-controls {
  top: 350px !important;
}


.services-section figure {
  left: 30% !important;

}

.testimonial-img img {
  left: 45% !important;
}

div.mfp-bg.mfp-ready {
  width: 200vw !important;
}


.contact-form {
  left: 40% !important;
}

footer {
 width: 175vw !important;
}




 }

/* iPhone 6 Plus landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 3)
{

  .logo {
    left: -5%;
  }

.nav-toggle {
  top: -6% !important;
}



.services-section {
  height: 750px !important;
}


.services-section figure {
  left: 0% !important;

}


div.mfp-bg.mfp-ready {
  width: 200vw !important;
}

#owl2-img2,
#owl2-img3,
#owl2-img5 {
  left: 30% !important;
}

.benefits {
  left: 0 !important;
}

.contact-form {
  left: 65%;
}

.testimonial-img img {
  left: 80% !important;
}




 }

/* iPhone 6 Plus portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 3)
{ 

  body {
  width: 165% !important;
  overflow-x: hidden !important;
}

#mobile-menu {
top: -2.6% !important;
  
}


.benefits {
  left: 0 !important;
}

footer {
 width: 165vw !important;
}



}

/* iPhone 6 and 6 Plus */
@media only screen
  and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (max-width: 480px)
{ }

/* Apple Watch */
@media
  (max-device-width: 42mm)
  and (min-device-width: 38mm)
{ }